

.detailsContainer {
    margin-top: 6vh;
    margin-inline: auto;
    padding: 3vh;
    background-color: rgba(192, 192, 192, 0.63);
    border-radius: 30px;
    display:flex;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
   
}

.specificDetContainer{
    margin-top: 3vh;
    margin-inline: auto;
    max-width: 70v;
    padding: 0.5vh;
    background-color: rgba(192, 192, 192, 0.63);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}


.detailsContainer img{
    margin-right: 5vh;
    border-radius: 20px;
    height: 100%;
    max-height: 15vw;
    object-fit: cover;
    
}

.specificDetContainer > div{
    margin-inline: 1vw;
}


.graphicsContainer{
    margin-top: 5vh;
    background-color: rgba(192, 192, 192, 0.63);
    border-radius: 30px;
    padding: 0.5vh;
    padding-block:2vh;
    padding-inline:1vw;
    display: flex;
    flex-direction: column;
}
.progress{
    margin-block: 1vh;
    margin-inline: auto;
    width: 90%;
}


.graphicsContainer > div {
    display:flex;
    font-size: 0.7vw;
    align-items: center;
    
}

.graphicsContainer > div > span {
    display:flex;
    font-size: 0.7vw;
    width: 120px;
    margin-right: 1vw;
    font-weight: 800;
    justify-content: end;
}